<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create user</title>
</head>
<body>
<h2>Créer un user</h2>

<form th:action="@{/user-app/register}" method="post">
    <label for="email">Email :</label>
    <input type="text" name="email" id="email"><br>

    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password"><br>

    <button type="submit">Valider</button>
</form>

</body>
</html>